* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    margin: 10px;
    height: 450px;
    width: 350px;
    max-width: 100%;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.story-container {
    height: 100px;
    width: 100%;
    border-bottom: 2px solid #313131;
    padding: 10px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.story-container::-webkit-scrollbar {
    display: none;
}

.story {
    margin: 5px;
    display: inline-block;
    height: 67px;
    width: 67px;
    border-radius: 50%;
    border: 2px solid firebrick;
    overflow: hidden;
}

.story img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.story-view {
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    background-size: cover;
    background-position: center;
}
