* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    border-radius: 10px;
    height: 500px;
    width: 400px;
    background-color: #fff;
    position: relative;
}

.container img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container i {
    opacity: 0.7;
    color: #c82333;
    font-size: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all ease 0.4s;
}
