@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #111;
    color: #fff;
}

#page {
    padding: 15px;
}

header {
    text-align: center;
}

#page {
    width: 100%;
    padding: 15px;
}

main {
    padding: 10px;
    max-width: 100%;
}

.search {
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.image-info {
    height: 100%;
    background-color: #222;
    border: 2px solid #444;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: scale linear 0.1s;
    cursor: pointer;
}

.image-info .author {
    display: flex;
    align-items: center;
    gap: 10px;
}

.image-info .image {
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
}

.image-info .author img {
    height: 50px;
    border-radius: 50%;
}

.image-info:hover {
    scale: 0.99;
    background-color: #333;
}

.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

input {
    font-size: 1rem;
    background-color: #222;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
}

button {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

button:active {
    scale: 0.96;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.load-more-btn {
    display: none;
}

.load-more-btn.active {
    display: block;
}

.alert {
    text-align: center;
}

.author {
    position: relative;
}

.author .goto {
    font-size: 2rem;
    position: absolute;
    top: 10px;
    right: 5px;
}

.author a {
    text-decoration: none;
    color: #fff;
}

.author h3 {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
